<div class="card">
    <div class="card-header">
      Sala de Chat
    </div>
    <div class="card-body">
      <h5>Conversación</h5>
      <div *ngFor="let message of messages">
        <strong>{{ message.user }}:</strong> {{ message.text }}
      </div>
      <div class="row mt-3">
        <div class="col">
          <app-message-user [user]="user1" (messageSent)="addMessage($event)"></app-message-user>
        </div>
        <div class="col">
          <app-message-user [user]="user2" (messageSent)="addMessage($event)"></app-message-user>
        </div>
      </div>
    </div>
  </div>
  